#spacing{
    margin-top:85px;

}
#spacing>div.box{
    
    background-color: rgba(63,63,63,.95);
       
   
}
#spacing>div.box>p.title{
    font-family:Gabriola;
    font-weight:bold; 
    color:gold;   
}
table.box{    
    background-color:#a9d3cd   
}

#editMenu{
    background-color: rgba(63,63,63,.95);
}