#bodyContent{
  margin-top:-10px; 
  overflow: hidden;
}

#plate>div#text{
  font-family:Segoe Script;
  font-weight:bold;
  font-size:30px;
  color:#363101
}

#hex>div#secondHex{
  margin-top:7px;
}

.carousel {
    box-shadow: 0px 0px 10px 8px #3a403f;
}
.carousel.is-overlay {    
max-height: 150vh;    
}
.carousel .carousel-items .carousel-item {
   
    height:680px;
}
.carousel .carousel-pause {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0.15rem;
    z-index: 1;
    
} 
.carousel .carousel-indicator .indicator-item.is-active .indicator-style,
.carousel .carousel-indicator .indicator-item .indicator-style:hover {
    background: #262622;
    border: 1px solid transparent;
}
.carousel .carousel-indicator .indicator-item .indicator-style {
    display: block;
    border: 1px solid transparent;
    background: #262622;
    outline: none;
    transition: 0.3s ease-out;
    opacity:0.5;
}
.carousel-arrow {
    transition: 0.5s ease-out;
}
.carousel-arrow .icon {
    background: #212120;
    color: #f7eb05;    
    border: 1px solid transparent;    
    outline: 0;
}
  
.carousel-arrow .icon:hover {
    border: 1px solid transparent;    
}

 
  hr.featurette-divider{
    margin-top:20px;
  }

  @media screen and (min-width: 769px), print {
    img{
      position: relative;
      top: 0;
      left: 0;
      height: 630px;
    }
    .carousel {
      max-height: 630px;
      position: relative;
     box-shadow: 0px 0px 10px 8px #3a403f;
    }
    #woodbackthing {
      margin-left:50px;
      background-image : url('../pics/woodback.png');
      background-repeat :no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 600px;
      width: 100%;
    }
    #stuffs{
      margin-left:100px;
    }
    #food.box{
      border-radius: 50px 50px 50px 50px;
      background-image : url('../pics/foods.jpg'); 
      background-repeat :no-repeat; 
      background-position: center ;
      background-size: 100% 100%; 
      height: 400px;
      /* width: 250px; */
    }
    
    #box.box{
      border-radius: 50px 50px 50px 50px;
      background-image : url('../pics/laughingpeople.jpg'); 
      background-repeat :no-repeat; 
      background-position: center ;
      background-size: 100% 100%; 
      height: 420px;
      /* width: 250px; */
  
    }

    .overlay {
      position: absolute;
      bottom: 50px;
      
      background-image : url('../pics/stroke.png');
      background-repeat :no-repeat;
      background-position: center center;
      background-size: 90% 150%;/* Black see-through */
      color: gold;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: gold;
      font-family:Segoe Script;
      font-weight:bold;
      font-size: 25px;
      padding: 20px;
      text-align: center;
    }
    span:hover .overlay {
      opacity: 0.8;
    }
    #carouselDescrip{
      font-family: Courier New;
      font-size:20px;
      font-weight:bolder;
      color:#FFF2CC;
    }

    #headings{
      background-image : url('../pics/stroke.png'); 
      background-repeat :no-repeat;
      background-position: center top;
      background-size: 100% 80%;
      height: 150px;
      
    }
    #headings>p.subtitle{
      font-family: Courier New;
      font-size:20px;
      font-weight:bolder;
      color:#FFF2CC;
    }
    #headings>p.title{
      font-family: Segoe Script;
      color:gold;
      font-size:20px;
      font-weight:bolder;
      
    }
    
  }
  
  @media screen and (max-width: 768px), print { 
    img{
      position: relative;
      top: 0;
      left: 0;
      height: 300px;
    }
    .carousel {
      max-height: 300px;
      position: relative;
     box-shadow: 0px 0px 10px 8px #3a403f;
    }
    #woodbackthing {
      margin-left:0px;
      background-image : url('../pics/woodback.png');
      background-repeat :no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 600px;
      width: 100%;
    }
    #stuffs{
      margin-left:1px;
    }
    #food.box{
      border-radius: 50px 50px 50px 50px;
      background-image : url('../pics/foods.jpg'); 
      background-repeat :no-repeat; 
      background-position: center ;
      background-size: 100% 100%; 
      height: 250px;
      /* width: 250px; */
    }
    #box.box{
      border-radius: 50px 50px 50px 50px;
      background-image : url('../pics/laughingpeople.jpg'); 
      background-repeat :no-repeat; 
      background-position: center ;
      background-size: 100% 100%; 
      height: 300px;
      /* width: 250px; */
    }

    .overlay {
      position: absolute;
      bottom: 18px;
      
      background-image : url('../pics/stroke.png');
      background-repeat :no-repeat;
      background-position: center center;
      background-size: 120% 100%;/* Black see-through */
      color: gold;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: gold;
      font-family:Segoe Script;
      font-weight:bold;
      font-size: 15px;
      padding: 20px;
      text-align: center;
    }
    span:hover .overlay {
      opacity: 0.8;
    }
    #carouselDescrip{
      font-family: Courier New;
      font-size:15px;
      font-weight:bolder;
      color:#FFF2CC;
    }
    #headings{
      background-image : url('../pics/stroke.png'); 
      background-repeat :no-repeat;
      background-position: center top;
      background-size: 115% 100%;
      height: 100px;
      width:100%
      
    }

    #headings>p.subtitle{
      font-family: Courier New;
      font-size:15px;
      font-weight:bolder;
      color:#FFF2CC;
    }
    #headings>p.title{
      font-family: Segoe Script;
      color:gold;
      font-size:15px;
      font-weight:bolder;
      
    }
    
  }

  

  #plate {
    font-family:Segoe Script;
    font-weight:bold;
    font-size:34px;
    color:#363101;
    background-image : url('../pics/plate.png');  
    background-position: center ;
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
  }
  
  #woodback {
    background-image : url('../pics/woodback.png');
    background-repeat :no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 600px;
    width: 100%;
  }
  
  #hex {
    background-image : url('../pics/hexagon2.png');  
    background-position: center ;
    background-size: 100% 100%;
    opacity:0.9;
    height: 40%;
    width: 80%;
    margin-top:7px;
    font-family: Courier New;
    font-size:18px;
    font-weight:900;
    color:#FFF2CC;
  }
  