  
  .table td.is-light,
  .table th.is-light {
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: #363636;
  }
  
  .table td.is-dark,
  .table th.is-dark {
    background-color: #363636;
    border-color: #363636;
    color: whitesmoke;
  }
  
  .table thead {
    background-color: transparent;
  }
  
  .table thead td,
  .table thead th {
    border-width: 0 0 2px;
    color: #dbdb21;
  }
  
  .table tfoot {
    background-color: transparent;
  }
  
  .table tfoot td,
  .table tfoot th {
    border-width: 2px 0 0;
    color: #363636;
  }
  
  .table tbody {
    background-color: transparent;
  }
  
  .table tbody tr:last-child td,
  .table tbody tr:last-child th {
    border-bottom-width: 0;
  }
  
  .table.is-bordered td,
  .table.is-bordered th {
    border-width: 1px;
  }
  
  .table.is-bordered tr:last-child td,
  .table.is-bordered tr:last-child th {
    border-bottom-width: 1px;
  }
  
  .table.is-fullwidth {
    width: 100%;
  }
  
  .table.is-hoverable tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
  }
  
  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
    background-color: #fafafa;
  }
  
  .table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(even) {
    background-color: whitesmoke;
  }
  
  .table.is-narrow td,
  .table.is-narrow th {
    padding: 0.25em 0.5em;
  }
  
  .table.is-striped tbody tr:not(.is-selected):nth-child(even) {
    background-color: #fafafa;
  }
  
  .table-container {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    overflow-y: hidden;
    max-width: 100%;
  }
  
  
  .modal-card-head,
  .modal-card-foot {
    align-items: center;
    background-color: #03705a;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
  }
  
  .modal-card-head {
    border-bottom: 1px solid #e3e307;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  
  .modal-card-title {
    color: #e3e307;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.5rem;
    line-height: 1;
  }
  
  .modal-card-foot {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 1px solid #e3e307;
  }
  
  .modal-card-body {
    -webkit-overflow-scrolling: touch;
    background-color: #0b8f74;
    color: #e3e307;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    padding: 20px;
  }
  
  .pagination-previous,
  .pagination-next,
  .pagination-link {
    background-color: #323133;
    border-color: #787704;
    color: #b5b305;  
    min-width: 2.25em;
  }
  
  .pagination-previous:hover,
  .pagination-next:hover,
  .pagination-link:hover {
    border-color: #b5b5b5;
    color: #f7f407;
  }
  
  .pagination-previous:focus,
  .pagination-next:focus,
  .pagination-link:focus {
    border-color: #f7f407;
  }
  
  .pagination-previous:active,
  .pagination-next:active,
  .pagination-link:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
  }
  
  .pagination-previous[disabled],
  .pagination-next[disabled],
  .pagination-link[disabled] {
    background-color: #323133;
    border-color: #f7f407;
    box-shadow: none;
    color: #7a7a7a;
    opacity: 0.5;
  }
  
 
  
  .pagination-link.is-current {
    background-color: #323133;
    border-color:#f7f407 ;
    color: #f7f407;
  }  
  
  @media screen and (max-width: 768px) {
    .pagination {
      flex-wrap: wrap;
    }
    .pagination-previous,
    .pagination-next {
      flex-grow: 1;
      flex-shrink: 1;
    }
    .pagination-list li {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  
  @media screen and (min-width: 769px), print {
    .pagination-list {
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-start;
      order: 1;
    }
    .pagination-previous {
      order: 2;
    }
    .pagination-next {
      order: 3;
    }
    .pagination {
      justify-content: space-between;
    }
    .pagination.is-centered .pagination-previous {
      order: 1;
    }
    .pagination.is-centered .pagination-list {
      justify-content: center;
      order: 2;
    }
    .pagination.is-centered .pagination-next {
      order: 3;
    }
    .pagination.is-right .pagination-previous {
      order: 1;
    }
    .pagination.is-right .pagination-next {
      order: 2;
    }
    .pagination.is-right .pagination-list {
      justify-content: flex-end;
      order: 3;
    }
  }
 
  


  
  .tabs {
    -webkit-overflow-scrolling: touch;
    align-items: stretch;
    display: flex;
    font-size: 1.05rem;
    font-family:Segoe Script;
    font-weight:bold;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .tabs a {
    align-items: center;   
    border-bottom-color: #d1c304;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    color: #e9ed95;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
  }
  
  .tabs a:hover {
    border-bottom-color: #363636;
    color: #d1c304;
    opacity:0.7;
  }  
 
  
  .tabs li.is-active a {
    border-bottom-color: #d1c304;
    color: #d1c304;
  }
  
  .tabs ul {
    align-items: center;
    border-bottom-color:#d1c304;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
  }
  
 

  
  .tabs.is-boxed a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
  }
  
  .tabs.is-boxed a:hover {
    background-color: #383333;
    border-bottom-color: #d1c304;
  }
  
  .tabs.is-boxed li.is-active a {
    background-color: #383333;
    border-color: #d1c304;
    border-bottom-color: #d1c304;
  }
  
  
  .carousel {
    min-height: 120px;
    position: relative;
   box-shadow: 0px 0px 10px 8px #3a403f;
  }
  
  .carousel.is-overlay {
    background-color: rgba(10, 10, 10, 0.86);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    max-height: 150vh;
    position: fixed;
    z-index: 40;
  }
  
  .carousel.is-overlay .carousel-indicator.has-background {
    background: transparent;
  }
  
  
  @media screen and (min-width: 769px), print {
    .carousel .carousel-items:hover .carousel-arrow.is-hovered {
      opacity: 1;
    }
  }
  
  .carousel .carousel-items .carousel-item {
    flex-shrink: 0;
    width: 100%;
    height:680px;
  }
  

  .carousel .carousel-indicator .indicator-item:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .carousel .carousel-indicator .indicator-item.is-active .indicator-style,
  .carousel .carousel-indicator .indicator-item .indicator-style:hover {
    background: #262622;
    border: 1px solid transparent;
  }
  
  .carousel .carousel-indicator .indicator-item .indicator-style {
    display: block;
    border: 1px solid transparent;
    background: #262622;
    outline: none;
    transition: 0.3s ease-out;
    opacity:0.5;
  }
  
  .carousel .carousel-indicator .indicator-item .indicator-style.is-boxes {
    height: 10px;
    width: 10px;
  }
  
  .carousel .carousel-indicator .indicator-item .indicator-style.is-dots {
    border-radius: 10px;
    height: 10px;
    width: 10px;
  }
  
  .carousel .carousel-indicator .indicator-item .indicator-style.is-lines {
    height: 5px;
    width: 25px;
  }
  
  .carousel-list {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-list.has-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (min-width: 769px), print {
    .carousel-list:hover .carousel-arrow.is-hovered {
      opacity: 1;
    }
  }
  
  .carousel-list .carousel-slides {
    position: relative;
    display: flex;
    width: 100%;
  }
  
  .carousel-list .carousel-slides.has-opacity .carousel-slide.is-active img {
    opacity: 1;
  }
  
  .carousel-list .carousel-slides .carousel-slide {
    border: 2px solid transparent;
    flex-shrink: 0;
  }
  
  .carousel-arrow {
    transition: 0.5s ease-out;
  }
  
  .carousel-arrow.is-hovered {
    opacity: 0;
  }
  
  .carousel-arrow .icon {
    background: #212120;
    color: #f7eb05;    
    border: 1px solid transparent;   
    outline: 0;
  }
  
  .carousel-arrow .icon:hover {
    border: 1px solid transparent;    
  }
  
 
  .b-clockpicker .card-header {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker .b-clockpicker-face:after {
    background-color: #7957d5;
  }
  
  .b-clockpicker .b-clockpicker-face-hand {
    background-color: #7957d5;
    border-color: #7957d5;
  }
  
  .b-clockpicker .b-clockpicker-face-number.active {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker.is-white .card-header {
    background-color: white;
    color: #0a0a0a;
  }
  
  .b-clockpicker.is-white .b-clockpicker-face:after {
    background-color: white;
  }
  
  .b-clockpicker.is-white .b-clockpicker-face-hand {
    background-color: white;
    border-color: white;
  }
  
  .b-clockpicker.is-white .b-clockpicker-face-number.active {
    background-color: white;
    color: #0a0a0a;
  }
  
  .b-clockpicker.is-black .card-header {
    background-color: #0a0a0a;
    color: white;
  }
  
  .b-clockpicker.is-black .b-clockpicker-face:after {
    background-color: #0a0a0a;
  }
  
  .b-clockpicker.is-black .b-clockpicker-face-hand {
    background-color: #0a0a0a;
    border-color: #0a0a0a;
  }
  
  .b-clockpicker.is-black .b-clockpicker-face-number.active {
    background-color: #0a0a0a;
    color: white;
  }
  
  .b-clockpicker.is-light .card-header {
    background-color: whitesmoke;
    color: #363636;
  }
  
  .b-clockpicker.is-light .b-clockpicker-face:after {
    background-color: whitesmoke;
  }
  
  .b-clockpicker.is-light .b-clockpicker-face-hand {
    background-color: whitesmoke;
    border-color: whitesmoke;
  }
  
  .b-clockpicker.is-light .b-clockpicker-face-number.active {
    background-color: whitesmoke;
    color: #363636;
  }
  
  .b-clockpicker.is-dark .card-header {
    background-color: #363636;
    color: whitesmoke;
  }
  
  .b-clockpicker.is-dark .b-clockpicker-face:after {
    background-color: #363636;
  }
  
  .b-clockpicker.is-dark .b-clockpicker-face-hand {
    background-color: #363636;
    border-color: #363636;
  }
  
  .b-clockpicker.is-dark .b-clockpicker-face-number.active {
    background-color: #363636;
    color: whitesmoke;
  }
  
  .b-clockpicker.is-primary .card-header {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker.is-primary .b-clockpicker-face:after {
    background-color: #7957d5;
  }
  
  .b-clockpicker.is-primary .b-clockpicker-face-hand {
    background-color: #7957d5;
    border-color: #7957d5;
  }
  
  .b-clockpicker.is-primary .b-clockpicker-face-number.active {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker.is-link .card-header {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker.is-link .b-clockpicker-face:after {
    background-color: #7957d5;
  }
  
  .b-clockpicker.is-link .b-clockpicker-face-hand {
    background-color: #7957d5;
    border-color: #7957d5;
  }
  
  .b-clockpicker.is-link .b-clockpicker-face-number.active {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker.is-info .card-header {
    background-color: #167df0;
    color: #fff;
  }
  
  .b-clockpicker.is-info .b-clockpicker-face:after {
    background-color: #167df0;
  }
  
  .b-clockpicker.is-info .b-clockpicker-face-hand {
    background-color: #167df0;
    border-color: #167df0;
  }
  
  .b-clockpicker.is-info .b-clockpicker-face-number.active {
    background-color: #167df0;
    color: #fff;
  }
  
  .b-clockpicker.is-success .card-header {
    background-color: #23d160;
    color: #fff;
  }
  
  .b-clockpicker.is-success .b-clockpicker-face:after {
    background-color: #23d160;
  }
  
  .b-clockpicker.is-success .b-clockpicker-face-hand {
    background-color: #23d160;
    border-color: #23d160;
  }
  
  .b-clockpicker.is-success .b-clockpicker-face-number.active {
    background-color: #23d160;
    color: #fff;
  }
  
  .b-clockpicker.is-warning .card-header {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .b-clockpicker.is-warning .b-clockpicker-face:after {
    background-color: #ffdd57;
  }
  
  .b-clockpicker.is-warning .b-clockpicker-face-hand {
    background-color: #ffdd57;
    border-color: #ffdd57;
  }
  
  .b-clockpicker.is-warning .b-clockpicker-face-number.active {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .b-clockpicker.is-danger .card-header {
    background-color: #ff3860;
    color: #fff;
  }
  
  .b-clockpicker.is-danger .b-clockpicker-face:after {
    background-color: #ff3860;
  }
  
  .b-clockpicker.is-danger .b-clockpicker-face-hand {
    background-color: #ff3860;
    border-color: #ff3860;
  }
  
  .b-clockpicker.is-danger .b-clockpicker-face-number.active {
    background-color: #ff3860;
    color: #fff;
  }
  
  .b-clockpicker .dropdown-menu {
    min-width: 0;
  }
  
  .b-clockpicker .dropdown,
  .b-clockpicker .dropdown-trigger {
    width: 100%;
  }
  
  .b-clockpicker .dropdown-item, .b-clockpicker .dropdown .dropdown-menu .has-link a, .dropdown .dropdown-menu .has-link .b-clockpicker a {
    font-size: inherit;
    padding: 0;
  }
  
  .b-clockpicker .dropdown-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .b-clockpicker .card {
    border-radius: 4px;
  }
  
  .b-clockpicker .card-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .b-clockpicker .card-content {
    padding: 12px;
  }
  
  .b-clockpicker-btn {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .b-clockpicker-btn:hover, .b-clockpicker-btn.active {
    opacity: 1;
  }
  
  .b-clockpicker-period .b-clockpicker-btn {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .b-clockpicker-time span {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
  
  .b-clockpicker-header {
    display: flex;
    line-height: 1;
    justify-content: flex-end;
    color: inherit;
  }
  
  .b-clockpicker-header .b-clockpicker-time {
    white-space: nowrap;
  }
  
  .b-clockpicker-header .b-clockpicker-time span {
    height: 60px;
    font-size: 60px;
  }
  
  .b-clockpicker-header .b-clockpicker-period {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin: 8px 0 6px 8px;
  }
  
  .b-clockpicker-body {
    transition: 0.9s cubic-bezier(0.25, 0.8, 0.5, 1);
  }
  
  .b-clockpicker-body .b-clockpicker-btn {
    padding: 0 8px;
    border-radius: 290486px;
    margin-bottom: 2px;
  }
  
  .b-clockpicker-body .b-clockpicker-btn:hover, .b-clockpicker-body .b-clockpicker-btn.active {
    background-color: #7957d5;
    color: white;
  }
  
  .b-clockpicker-body .b-clockpicker-period {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  
  .b-clockpicker-body .b-clockpicker-time {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 16px;
  }
  
  .b-clockpicker-body .b-clockpicker-face {
    border-radius: 50%;
    position: relative;
    background-color: #dbdbdb;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .b-clockpicker-body .b-clockpicker-face:after {
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 12px;
    z-index: 10;
  }
  
  .b-clockpicker-body .b-clockpicker-face-outer-ring {
    user-select: none;
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    position: relative;
    border-radius: 50%;
  }
  
  .b-clockpicker-body .b-clockpicker-face-number {
    align-items: center;
    border-radius: 100%;
    cursor: default;
    display: flex;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    left: calc(50% - 40px / 2);
    top: calc(50% - 40px / 2);
    user-select: none;
  }
  
  .b-clockpicker-body .b-clockpicker-face-number > span {
    z-index: 1;
  }
  
  .b-clockpicker-body .b-clockpicker-face-number:before, .b-clockpicker-body .b-clockpicker-face-number:after {
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .b-clockpicker-body .b-clockpicker-face-number.active {
    cursor: default;
    z-index: 2;
  }
  
  .b-clockpicker-body .b-clockpicker-face-number.disabled {
    pointer-events: none;
    opacity: .25;
  }
  
  .b-clockpicker-body .b-clockpicker-face-hand {
    height: calc(50% - 6px);
    width: 2px;
    bottom: 50%;
    left: calc(50% - 1px);
    transform-origin: center bottom;
    position: absolute;
    will-change: transform;
    z-index: 1;
  }
  
  .b-clockpicker-body .b-clockpicker-face-hand:before {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .b-clockpicker-footer {
    display: block;
    padding: 12px;
  }
  
  .b-clockpicker.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
  }
  
  .b-clockpicker.is-medium {
    font-size: 1.25rem;
  }
  
  .b-clockpicker.is-large {
    font-size: 1.5rem;
  }
  
  .collapse .collapse-trigger {
    display: inline;
    cursor: pointer;
  }
  
  .collapse .collapse-content {
    display: inherit;
  }
  
  .datepicker {
    font-size: 0.875rem;
  }
  
  .datepicker .dropdown,
  .datepicker .dropdown-trigger {
    width: 100%;
  }
  
  .datepicker .dropdown.is-disabled {
    opacity: 1;
  }
  
  .datepicker .dropdown-content {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  
  .datepicker .dropdown-item, .datepicker .dropdown .dropdown-menu .has-link a, .dropdown .dropdown-menu .has-link .datepicker a {
    font-size: inherit;
  }
  
  .datepicker .datepicker-header {
    padding-bottom: 0.875rem;
    margin-bottom: 0.875rem;
    border-bottom: 1px solid #dbdbdb;
  }
  
  .datepicker .datepicker-footer {
    margin-top: 0.875rem;
    padding-top: 0.875rem;
    border-top: 1px solid #dbdbdb;
  }
  
  .datepicker .datepicker-table {
    display: table;
    margin: 0 auto 0 auto;
  }
  
  .datepicker .datepicker-table .datepicker-cell {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
  }
  
  .datepicker .datepicker-table .datepicker-header {
    display: table-header-group;
  }
  
  .datepicker .datepicker-table .datepicker-header .datepicker-cell {
    color: #7a7a7a;
    font-weight: 600;
  }
  
  .datepicker .datepicker-table .datepicker-body {
    display: table-row-group;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-row {
    display: table-row;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-months {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 17rem;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-months .datepicker-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
    height: 2.5rem;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-unselectable {
    color: #b5b5b5;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-today {
    border: solid 1px rgba(121, 87, 213, 0.5);
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable {
    color: #4a4a4a;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:hover:not(.is-selected), .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable:focus:not(.is-selected) {
    background-color: whitesmoke;
    color: #0a0a0a;
    cursor: pointer;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-first-hovered {
    background-color: #7a7a7a;
    color: #dbdbdb;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-within-hovered {
    background-color: whitesmoke;
    color: #0a0a0a;
    border-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selectable.is-within-hovered-range.is-last-hovered {
    background-color: #7a7a7a;
    color: #dbdbdb;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected {
    background-color: #7957d5;
    color: white;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-first-selected {
    background-color: #7957d5;
    color: white;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-within-selected {
    background-color: rgba(121, 87, 213, 0.5);
    border-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-selected.is-last-selected {
    background-color: #7957d5;
    color: white;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-nearby:not(.is-selected) {
    color: #b5b5b5;
  }
  
  .datepicker .datepicker-table .datepicker-body .datepicker-cell.is-week-number {
    cursor: default;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell {
    padding: 0.3rem 0.75rem 0.75rem;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event {
    position: relative;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events {
    bottom: .425rem;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 0 .35rem;
    position: absolute;
    width: 100%;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-white {
    background-color: white;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-black {
    background-color: #0a0a0a;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-light {
    background-color: whitesmoke;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-dark {
    background-color: #363636;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-primary {
    background-color: #7957d5;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-link {
    background-color: #7957d5;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-info {
    background-color: #167df0;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-success {
    background-color: #23d160;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-warning {
    background-color: #ffdd57;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event .events .event.is-danger {
    background-color: #ff3860;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.dots .event {
    border-radius: 50%;
    height: .35em;
    margin: 0 .1em;
    width: .35em;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.has-event.bars .event {
    height: .25em;
    width: 100%;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.is-selected {
    overflow: hidden;
  }
  
  .datepicker .datepicker-table .datepicker-body.has-events .datepicker-cell.is-selected .events .event.is-primary {
    background-color: #aa94e4;
  }
  
  .datepicker.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
  }
  
  .datepicker.is-medium {
    font-size: 1.25rem;
  }
  
  .datepicker.is-large {
    font-size: 1.5rem;
  }
  
   
  .b-tabs .tabs {
    margin-bottom: 0;
    flex-shrink: 0;
  }
  
  .b-tabs .tabs li.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .b-tabs .tab-content {
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  .b-tabs .tab-content .tab-item {
    flex-shrink: 0;
    flex-basis: auto;
  }
  
  .b-tabs .tab-content.is-transitioning {
    overflow: hidden;
  }
  
  .b-tabs:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  
  .b-tabs.is-fullwidth {
    width: 100%;
  }
  
  .b-tabs.is-vertical {
    display: flex;
    flex-direction: row;
  }
  
  .b-tabs.is-vertical > .tabs ul {
    flex-direction: column;
    border-bottom-color: transparent;
  }
  
  .b-tabs.is-vertical > .tabs ul li {
    width: 100%;
  }
  
  .b-tabs.is-vertical > .tabs ul li a {
    justify-content: left;
  }
  
  .b-tabs.is-vertical > .tabs.is-boxed li a {
    border-bottom-color: transparent !important;
    border-right-color: #dbdbdb !important;
    border-radius: 4px 0 0 4px;
  }
  
  .b-tabs.is-vertical > .tabs.is-boxed li.is-active a {
    border-bottom-color: #dbdbdb !important;
    border-right-color: transparent !important;
  }  
  .timepicker .dropdown-menu {
    min-width: 0;
  }
  
  .timepicker .dropdown,
  .timepicker .dropdown-trigger {
    width: 100%;
  }
  
  .timepicker .dropdown.is-disabled {
    opacity: 1;
  }
  
  .timepicker .dropdown-item, .timepicker .dropdown .dropdown-menu .has-link a, .dropdown .dropdown-menu .has-link .timepicker a {
    font-size: inherit;
    padding: 0;
  }
  
  .timepicker .timepicker-footer {
    padding: 0 0.5rem 0 0.5rem;
  }
  
  .timepicker .dropdown-content .control {
    font-size: 1.25em;
    margin-right: 0 !important;
  }
  
  .timepicker .dropdown-content .control .select select {
    font-weight: 600;
    padding-right: calc(0.625em - 1px);
    border: 0;
  }
  
  .timepicker .dropdown-content .control .select select option:disabled {
    color: rgba(122, 122, 122, 0.7);
  }
  
  .timepicker .dropdown-content .control .select:after {
    display: none;
  }
  
  .timepicker .dropdown-content .control.is-colon {
    font-size: 1.7em;
  }
  
  .timepicker.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
  }
  
  .timepicker.is-medium {
    font-size: 1.25rem;
  }
  
  .timepicker.is-large {
    font-size: 1.5rem;
  }
  
 